In [59]:
import pymongo
from pymongo import MongoClient
import pprint as pp
import pandas as pd

In [60]:
client = MongoClient('mongodb+srv://mongo:mongo@ngranback.bmasa.mongodb.net/myFirstDatabase?retryWrites=true&w=majority')

db = client.NLG_DB
query = db.ETL_collection

In [61]:
query.find_one()

{'_id': ObjectId('60f0c99545668efa07177e56'),
 'Character': 'JERRY',
 'Dialogue': 'Do you know what this is all about? Do you know, why were here? To be out, this is out...and out is one of the single most enjoyable experiences of life. People...did you ever hear people talking about We should go out? This is what theyre talking about...this whole thing, were all out now, no one is home. Not one person here is home, were all out! There are people tryin to find us, they dont know where we are. (on an imaginary phone) Did you ring?, I cant find him. Where did he go? He didnt tell me where he was going. He must have gone out. You wanna go out you get ready, you pick out the clothes, right? You take the shower, you get all ready, get the cash, get your friends, the car, the spot, the reservation...Then youre standing around, whatta you do? You go We gotta be getting back. Once youre out, you wanna get back! You wanna go to sleep, you wanna get up, you wanna go out again tomorrow, right? Where ever you are in life, its my feeling, youve gotta go.',
 'EpisodeNo': 1,
 'SEID': 'S01E01',
 'Season': 1,
 'Title': 'Good News, Bad News',
 'AirDate': 'July 5, 1989',
 'Writers': 'Larry David, Jerry Seinfeld',
 'Director': 'Art Wolff',
 'Rating': 7.6}

In [62]:
# =======================================
# === Lines Per Season, per Character ===
# =======================================

lps_J, lps_G, lps_E, lps_K = [], [], [], []
lps_lists = [lps_J, lps_G, lps_E, lps_K]
chars = ['JERRY', 'GEORGE', 'ELAINE', 'KRAMER']

for i in range(4):
    for j in range(9):
        lps_lists[i].append(query.count_documents({"Character": chars[i], 'Season': j+1}))
         
# lps_X stands for "lines per season [Character's first initial]"
# each one is a list containing 9 entries, the total number of lines for that character in that season
    
print(lps_J)
print(lps_G)
print(lps_E)
print(lps_K)

[564, 1059, 2001, 2018, 1821, 1834, 1693, 1762, 1793]
[261, 642, 1463, 1401, 1207, 1087, 1208, 1031, 1248]
[158, 466, 1116, 805, 1088, 1099, 1062, 1016, 1069]
[67, 284, 719, 795, 872, 909, 909, 1012, 985]

In [97]:
# ===============================
# === Get list of top Writers ===
# ===============================

writers = query.distinct('Writers')
eps_written =[]


for k in range(52):
    eps_written.append(query.count_documents({"Writers": writers[k]})) 
    
writerDF = pd.DataFrame({
    'Writers':writers,
    'Eps_Written': eps_written
})

writerDF = writerDF.sort_values(['Eps_Written'], ascending=False)
writerDF.head(12)

                        Writers  Eps_Written
23                  Larry David         9182
37                Peter Mehlman         4388
21                Larry Charles         4142
29  Larry David, Jerry Seinfeld         3953
48       Tom Gammill, Max Pross         3176
1      Alec Berg, Jeff Schaffer         2898
19      Gregg Kavet, Andy Robin         2707
42               Spike Feresten         2648
20          Jennifer Crittenden         1580
43                  Steve Koren         1355
14                 David Mandel         1264
9                  Carol Leifer          889

In [102]:
topWriters = writerDF.iloc[0:6, :]['Writers'].to_list()
topWriterscount = writerDF.iloc[0:6, :]['Eps_Written'].to_list()

# Top Writer list is currently limited to 6
topWriters

['Larry David',
 'Peter Mehlman',
 'Larry Charles',
 'Larry David, Jerry Seinfeld',
 'Tom Gammill, Max Pross',
 'Alec Berg, Jeff Schaffer']

In [111]:
# =======================================
# === Lines Per Writer, per Character ===
# =======================================

lpw_J, lpw_G, lpw_E, lpw_K = [], [], [], []
lpw_lists = [lpw_J, lpw_G, lpw_E, lpw_K]

for i in range(len(chars)):
    for j in range(len(topWriters)):
        lpw_lists[i].append(query.count_documents({'Character': chars[i], "Writers": topWriters[j]}))
         
# lpw_X stands for "lines per writer [Character's first initial]"
# each one is a list containing the total number of lines written for that character by each of the top X writers


# NOTE:
# This data probably needs to be adjusted / averaged with how many episodes were written by each writer

print(lpw_lists)

[[2372, 1173, 1255, 1360, 742, 777], [1702, 780, 849, 722, 500, 501], [1326, 691, 512, 538, 464, 467], [1034, 462, 551, 326, 423, 386]]